@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.App {
  overflow: hidden;
  background: linear-gradient(
      90deg,
      rgba(45, 141, 255, 0.4) 0%,
      rgba(45, 178, 255, 0.7) 100%
    ),
    url("./images/allie-KzUsqBRU0T4-unsplash.jpg");
  background-size: cover;
}
h3 {
  font-weight: 400;
}
.container {
  width: 400px;
  height: 100vh;
  margin: 0 auto;
}
.topics {
  /* height: 30vh; */
  margin: 15px;
  position: relative;
  right: 13px;
  width: 374px;
  height: 200px;
}
.wordChart {
  /* margin-bottom: 10px;
  border: 1px solid grey; */

  width: 100%;
  height: 100%;
  position: relative;
  /*top: -50px; */
}
.questions {
  display: block;
  position: relative;
  height: 120px;
  padding: 5px 20px;
  overflow-y: auto;
  text-align: center;
  list-style: none;
}
.questions-card {
  margin-bottom: 25px;
}
.scroll-down{
  display:flex;
  flex-direction: column-reverse;
}
/* .questions::-webkit-scrollbar {
  display: none;
} */

.wolfram {
}
.slick-arrow {
  background: #778899 !important;
}

.image {
  border: 1px solid grey;
  outline: none;
}

.first-p {
  font-size: 17px;
  font-weight: 400;
  text-align: left;
}

.slider {
  border: 1px solid grey;
}

.questions::-webkit-scrollbar {
  width: 1em;
}

.questions::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.questions::-webkit-scrollbar-thumb {
  background-color: #2d92ff;
  border-radius: 10px;
  outline: none;
}

.heading-description {
  position: relative;
  left: 250px;
}
